/* You can add global styles to this file, and also import other style files */
 /* Light Theme */
:root {
  --bg-color: #fbf9f9;
  --text-color: #1a1a1a;
  --style-color: #000000;
  --itemhover-color: #eae9e9;
  --signature-color: #4cf45f;
  --inner-color: #ffffff;
  --inner-text-color: #000000;
  ---card-color: rgba(255, 255, 255, 0.9);
}
 /* Dark Theme */
.dark-theme {
  --bg-color: #1a1a1a;
  --text-color: #ffffff;
  --style-color:#a8e7a8;
  --itemhover-color: #2d2c2c;
  --signature-color: #c4ef5f;
  --inner-color: #0a0a0a;
  --inner-text-color: var(--color, #a8e7a8);
  --card-color: rgba(0, 0, 0, 0.9);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
